*{
  margin: 0;
  padding: 0;  
}

.bg-yellow{
    background-color: yellow;
}
.green{
    color: green;
}
.red{
    color: red;
}
.margin{
    margin: 10px;
}
.padding{
    padding: 10px 20px;;
}
.font-large{
    font-size: 50px;
}
.font-medium{
    font-size:20px;
}